.brush-selected,
.brush-unselected {
    width: 70px;
    height: 70px;
}

.brush-selected {
    outline-style: solid;
}

.color-selected,
.color-unselected {
<<<<<<< HEAD
=======
	//padding: 2em;
>>>>>>> 7ba53c2f848274caee63e99107be7a2640000a7f
    width: 50px;
    height: 50px;
}

.color-selected {
    outline-style: double;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}
